[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "fanc"]
	path = fanc
	url = https://github.com/cran/fanc
	shallow = true
	registered = true
[submodule "msgps"]
	path = msgps
	url = https://github.com/cran/msgps
	shallow = true
	registered = true
